 #boxEsquerda{
        height:100%;
        float:left;
		background-color: black;
       
        width:49.7%;
    }
    #raqueteEsquerda{
        height:100px;
        position:absolute;
        top:80px;
		left: 15px;
        width:10px;
		background-color:white;
    }
	
	#boxDireita{
        height:100%;
		float: right;
		background-color: black;
        
        width:49.7%;
		
		
    }
    #raqueteDireita{
        height:100px;
        position:relative;
        top:80px;
		left: -5px;
        width:10px;
		float: right;
		background-color:white;
    }
	
	#bola {
		height: 20px;
		width: 20px;
		background-color: white;
		position: absolute;
		border-radius: 90px;
	}