body, html {
 height: 100%;
 background: black;
 color: white;
 font-family: 'Press Start 2P', monospace;
 font-weight: bold;
 font-size: xx-large;
 text-align: center;
 overflow: hidden;
}
.score {
 display: inline-block;
 width: 64px;
 height: 64px;
 line-height: 64px;
 text-align: center;
}
#net {
 height: 100%;
 width: 8px;
 background: white;
 position: absolute;
 left: calc(50% - 4px);
 top: 0;
}
.paddle {
 width: 16px;
 height: 64px;
 background: white;
 position: absolute;
 top: calc(50% - 32px);
}
#raqueteEsquerda {
 left: 16px;
}
#raqueteDireita {
 right: 16px;
}
#ball {
 width: 16px;
 height: 16px;
 background: white;
 top: calc(50% - 8px);
 left: calc(50% - 8px);
 position: absolute;
}